.rent-car-model{
    width: 800px;
    height: 100vh;
    overflow-y: auto;
    right: -100%;
    transition: all 0.4s ease-out;
}

.rent-car-model-active{
    right: 0%;
}

.rent-car-model .form-parent{
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.edit-delete-modal{
    transform: translate(-50%, -50%);
}
.edit-modal{
    width: 600px;
    transform: translate(-50%, -50%);
}