.mobile-navbar {
    display: flex;
    gap: 10px;
}

#close-mobile-menu {
    display: none;
    position: absolute;
    top: 5%;
    left: -35px;
}

#open-mobile-menu {
    display: none;
    position: absolute;
    top: 25%;
    right: 10%;
}

@media (max-width:992px) {
    #close-mobile-menu {
        display: block;
    }
    #open-mobile-menu {
        display: block;
    }
    .mobile-navbar {
        flex-direction: column !important;
        border: 1px solid #333;
        position: fixed;
        top: 0%;
        right: 0%;
        bottom: 0%;
        background-color: white;
        padding: 20px !important;
    }
}
