.statistics-filter-group {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

@media (max-width: 992px) {
    .statistics-filter-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .statistics-filter-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}